/* some rand shadn ui css generator */
:root {
    --background: 267 100% 95%;
    --foreground: 267 5% 0%;
    --card: 267 50% 90%;
    --card-foreground: 267 5% 10%;
    --popover: 267 100% 95%;
    --popover-foreground: 267 100% 0%;
    --primary: 267 56% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 267 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 229 30% 85%;
    --muted-foreground: 267 5% 35%;
    --accent: 229 30% 80%;
    --accent-foreground: 267 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 267 5% 90%;
    --border: 267 30% 50%;
    --input: 267 30% 18%;
    --ring: 267 56% 53%;
    --radius: 0.5rem;

    /* defaults */
    --partial-progressed-color: gold;
    --partial-initial-color: white;

    --progress-inject: 0;
    --progress-inject-percent: 0%;

}

.debug {
    color: var(--partial-initial-color);
    margin-bottom: 1.5em;
}

.dark {
    --background: 267 50% 5%;
    --foreground: 267 5% 90%;
    --card: 267 50% 0%;
    --card-foreground: 267 5% 90%;
    --popover: 267 50% 5%;
    --popover-foreground: 267 5% 90%;
    --primary: 267 56% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 267 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 229 30% 15%;
    --muted-foreground: 267 5% 60%;
    --accent: 229 30% 15%;
    --accent-foreground: 267 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 267 5% 90%;
    --border: 267 30% 18%;
    --input: 267 30% 18%;
    --ring: 267 56% 53%;
    --radius: 0.5rem;
}

body {
    font-family: 'Inter Variable', sans-serif;
}

.img-optimize {
    content-visibility: auto;
}

html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

/*
.text-partial {
    color: var(--partial-initial-color);
    overflow: visible;
}


.text-partial::before {
    display: inline-flex;
    position: relative;
    content: attr(data-text);
    position: absolute;
    color: var(--partial-progressed-color);
    overflow: hidden;
    white-space: nowrap;
    width: var(--progress-inject-percent);
    max-width: 100%;
}
    old stuff
    */

.text-partial {
    /* some gradient hack */
    background: linear-gradient(to right, var(--partial-progressed-color) var(--progress-inject-percent), var(--partial-initial-color) 0%, var(--partial-initial-color) 100%, var(--partial-progressed-color) 0%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-attachment: fixed;
}

.font-outline-2 {
    -webkit-text-stroke: 2px black;
}
.font-outline-4 {
    -webkit-text-stroke: 4px black;
}