---
import CenteredContent from '../components/CenteredContent.astro';
import DebugPanel from '../components/DebugPanel';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Debug application.">
	<main>
		<CenteredContent>
			<p>
				Below is the debug panel.
			</p>
			<div class="m-auto p-4 max-w-lg xl:max-w-2xl">
				<DebugPanel client:load />
			</div>
		</CenteredContent>
	</main>
</Layout>

<style>
	
</style>
