---
import Layout from '../layouts/Layout.astro';
import CenteredContent from '../components/CenteredContent.astro';
import SearchView from '../components/SearchView';
---

<Layout title="Welcome to Jellysing.">
	<main>
		<CenteredContent>
			<h1 class = "text-center text-4xl font-extralight">
				Search for song
			</h1>
			<br />
			<SearchView client:visible/>
		</CenteredContent>
	</main>
</Layout>

<style>
	
</style>
