---

import '@fontsource-variable/inter';
import "../styles/global.css";

interface Props {
    title: String;
}

const { title } = Astro.props;

---
<meta charset="UTF-8" />
<meta name="description" content="Totally not something related to Karaoke" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>