---
import Layout from '../../layouts/Layout.astro';
import CenteredContent from '../../components/CenteredContent.astro';
import SearchView from '../../components/SearchView';
import SongPrepareView from '../../components/SongPrepareView';

const { itemId } = Astro.params;
---

<Layout title="Welcome to Jellysing.">
	<main>
		<CenteredContent>
			<h1 class = "text-center text-2xl font-extralight">
				Prepare Song
			</h1>
			<SongPrepareView itemId={itemId} client:visible />
		</CenteredContent>
	</main>
</Layout>

<style>
	
</style>
